doctype html
html
    head
        style.
            html{
                background-color:#f8f8f8;
                background-image:url(/public/logo.png);
                background-position:center;
                background-repeat:no-repeat;
            }
            html,body{
                height:100%;
                width:100%;
                margin:0px;
                padding:0px;
            }
    body
            
            
